<% const pages = [
    {name: 'Басты Бет', url: '/'},
    {name: 'Жобалар', url: '/projects'},
    {name: 'Қор туралы', url: '/about'},
    {name: 'Есептер', url: '/converts'},
    {name: 'Байланыс', url: '/contacts'},
] %> 

<header class="header wrap">
    <div class="header__logo">
        <a href="/">
            <img src="/img/zhanga.png" alt="Логотип">
        </a>
    </div>

    <div class="header__phone-link">
        <a href="tel:87785576939" class="phone-link">+7 (778) 557 69 39</a>
    </div>
    <div class="header__callback-buttons">
        <div class="help-btn"><a href="/contacts">КӨМЕКТЕСУ</a></div>
        <div class="advice-btn"><a id="adviceBtn" href="#advice">ӨТІНІШ ҚАЛДЫРУ</a></div>
    </div>
</header>
<nav class="menu">
    <div class="wrap">
        <button class="menu__hamburger">
            <span></span>
        </button>
        <ul class="menu__list">

            <% pages.forEach(el=> { 
                var currentPage = el.url === activePage;
                if(currentPage)
                    currentPage = 'menu__link_active'
            %>
            <li class="menu__element">
                <a class="menu__link <%- currentPage %>" href="<%- el.url %>"><%- el.name %></a>
            </li>
            <% }) %>
        </ul>
    </div>

</nav>
