<header>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item"> 
                <a href="/" class="menu__link">Басты бет</a>
            </li>
            <li class="menu__item"> 
                <a href="/projects" class="menu__link">Жобалар</a>
            </li>
            <li class="menu__item"> 
                <a href="/about" class="menu__link">Қор туралы</a>
            </li>
            <li class="menu__item"> 
                <a href="/news" class="menu__link">Жаңалықтар</a>
            </li>
            <li class="menu__item"> 
                <a href="/converts" class="menu__link">Есептер</a>
            </li>
            <li class="menu__item"> 
                <a href="/contacts" class="menu__link">Байланыс</a>
            </li>
        </ul>
    </nav>
</header>