<div id="advice"class="advice">
  <div class="advice__content">
    <div class="advice__header">
      <span class="close">&times;</span>
      <h2>ЕРІКТІНІҢ ӨТІНІШІ</h2>
    </div>
    <div class="advice__body">
      <div class="advice__title">
        <h4>Еріктілер қатарына қосылу формасы</h4>
      </div>
      <form name="adviceForm">
        <div class="advice__inputs">
          <div class="advice__input">
            <label for="name">Атыңыз:</label>
            <input type="text" name="name">
          </div>
          <div class="advice__input">
            <label for="surname">Фамилия:</label>
            <input type="text" name="surname">
          </div>
          <div class="advice__input">
            <label for="email">Email:</label>
            <input type="email" name="email">
          </div>
          <div class="advice__input">
            <label for="phone">Телефон:</label>
            <input type="tel" name="phone">
          </div>
        </div>
        <div class="advice__message">
          <label for="message">Ақпарат</label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        
        <button type="submit" id="advice-btn" class="advice__btn">Жіберу</button>
      </form>
    </div>
    <div class="advice__footer">
      <h3 id="result"></h3>
    </div>
  </div>
</div>