<%- include('../partials/head') -%>

<%- include('../partials/header') -%>

<div class="about wrap">
  <div class="about__title">
    <h1>Қор туралы</h1>
  </div>
  <div class="about__info-text">
    <p>«ZHANGA SHUAK» қоғамдық қоры 2018 жылдан бастап жұмысын бастады. Қор саяси және коммерциялық мақсаттарды көздемейтін қоғамдық ұйым болып табылады.</p>
    <div class="about-us__subtitle">
      <p>Қордың мақсаттары:</p>
    </div>
    <ul class="about-us__list">
      <li>қоғамның, әсіресе, жастардың саналы және салауатты өмір салтын қалыптастыруына үлес қосу</li>
      <li>әлеуметтік маңызы зор жобаларды іске асыру</li>
      <li>қайырымдылыққа бағытталған іс-шараларды ұйымдастыру және өткізу</li>
    </ul>
    <div class="about-us__subtitle">
      <p>Қордың міндеттері:</p>
    </div>
    <ul class="about-us__list">
      <li>ауруларды ерте кезеңде анықтау және олардың асқынуын тоқтатуға бағытталған ауыл тұрғындарын қозғалмалы медициналық тексеруден өткізу</li>
      <li>қала және ауыл тұрғындарының ішінде жағдайы төмен отбасыларға материалдық және әлеуметтік көмек көрсету</li>
      <li>сапалы білім алуға мүмкіндігі жоқ азаматтарға білім алу үшін қолдау көрсету.</li>
    </ul>
    <div class="about-us__subtitle">
      <p>Қордың құрылтайшылары:</p>
    </div>
    <ul class="about-us__list">
      <li>Солтаев C.T</li>
      <li>Баязитов Г.А</li>
      <li>Бекдувалиев К.А</li>
    </ul>
  </div>

<div class="about__info-text">
  <div class="about-us__title">
    <h2>Қордың жетістіктері мен женістері</h2>
  </div> 
    <div class="about-us__subtitle">
      <p>2018 жыл</p>
    </div>
    <ul class="about-us__list">
      <li>150 жанұяға азық-түлікпен қамтамасыз етілді</li>
      <li>100 оқушыға мектепке керек заттар алынды</li>
      <li>100 отбасыға 2 тоннадан көмір берілді</li>
    </ul>
  </div>
  <div class="about-us__title">
    <h2>Атқарылған жұмыстар</h2>
  </div> 
  <div class="about__help">
  <div class="about__help-stats">
    <div class="about__numbers">
      <p>150</p>
    </div>
    <h3>Жаңұя</h3>
    <p>азық-түлікпен қамтамасыз етілді</p>
  </div>
  <div class="about__help-stats">
    <div class="about__numbers">
      <p>100</p>
    </div>
    <h3>Оқушыға</h3>
    <p>мектепке керек заттар алынды</p>
  </div>
  <div class="about__help-stats">
    <div class="about__numbers">
      <p>2</p>
    </div>
    <h3>тонна</h3>
    <p>көмір 100 отбасыга берілді</p>
  </div>
  </div>
</div>

<%- include('../partials/footer') -%>