<%- include('../partials/head') %> 

<%- include('../partials/header') %> 

<div class="contacts wrap">
  <div class="contacts__title">
    <h1>Біздің байланыстар мен реквизиттер</h1>
  </div>
  <div class="contacts__info">
    <div class="contacts__text">
      <h4 class="contacts__subtitle">Мекен - жайы:</h4>
      <p>160000, Шымкент қаласы, Қонаев даңғылы, 5/6</p>
      <p>сот.тел:.<a href="tel:87785576939">+7 778 557 69 39</a></p>
      <p>email: zhanga.shuak@gmail.com</p>
      <h4 class="contacts__subtitle">Қордың реквизиттері:</h4>
      <p>"ZHANGA SHUAK" ҚОҒАМДЫҚ ҚОРЫ</p>
      <p>БИН: 171240019955</p>
      <p>Р/cчет: KZ8996516F0008089382 в AO FORTE BANK</p>
      <p>БИК: IRTYKZKA</p>
      <p>Кбе: 14</p>
    </div>
    <div class="contacts__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.1512923136816!2d69.59517131569172!3d42.31797174575061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91ea025ba5f55%3A0xdfe52024cea66cc6!2z0JHQtdGA0LXQutC1!5e0!3m2!1sru!2skz!4v1626663217388!5m2!1sru!2skz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

<%- include('../partials/footer') %> 