<%- include('../partials/head') %> 

<%- include('../partials/header') %> 

<div class="converts-page">
  <div class="converts-page__title">
    <h1>Есептер</h1>
  </div>
  <div class="convert-forms wrap">
    <div class="check-convert ">
      <div class="check-convert__title">
        <p>Сіз кеңсемізге жеткен «Мейірім конверттерінің» жағдайын тексере аласыз. Ол үшін өзіңізде қалған талонның артқы жағындағы бірегей номерді енгізіңіз.</p>
      </div>
      <form action="/converts/get" method="GET" class="check-convert__form">
        <input type="text" name="convertID" class="check-convert__input" placeholder="Конверт нөмірің енгізіңіз">
        <div class="check-convert__response">
          <% if (donationMessage) { %>
            <p><%- donationMessage %></p>
          <% } %>
        </div>
        <button type="submit" class="check-convert__button">Конверті тексеру</button>
    </div>
    <div class="check-report">
      <p><strong>2018 ж. қаржы есептемесі.</strong> </p>
      <a class="check-report__link"href="/assets/otchet2018.pdf">ЕСЕПТЕМЕНІ КӨРУ</a>
    </div>
  </div>
</form>
</div>



<%- include('../partials/footer') %> 