$darkRed: #970001;
$green: #84c54e;
$yellow: #ffe400;
$orange: #ff832b;
$smokeGrey: #e7e7e7;
$black: #000000;
$brown:#845f58;
$projects-background: #e6e6e6;
$border-color: #d8d8d8;
$about-us-background: #f9fdfe;

